nav{
  display: flex;
  direction: row;
justify-content: space-evenly

}
Footer{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: gray;
 color: indianred;
 padding: 20ox;
}
.card{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 6;
}